.secondary-title {
    background: #FDFEA6;
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
    ;
    .title {
        margin-left: 20px;
        font-size: 32px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 832px) {
    .secondary-title {
        .title {
            font-size: 25px;
        }
    }
}