.secondary-title {
    border-bottom: 1px solid grey;
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    ;
    .title {
        margin-left: 20px;
        font-size: 32px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 832px) {
    .secondary-title {
        .title {
            font-size: 25px;
        }
    }
}