.TimelineContainer {
    display: flex;
    flex-direction: column;
}

.TimelineContainer::before {
    content: '';
    background-color: grey;
    position: absolute;
    left: var(--var-pos-timeline);
    top: 30px;
    bottom: 30px;
    width: var(--var-size-2);
    height: 100%;
}
