.TimelineContainer {
    display: flex;
    flex-direction: column;
}

.TimelineContainer::before {
    content: '';
    background-color: grey;
    position: absolute;
    left: 20px;
    width: 4px;
    height: 100%;
}
